<!-- Footer -->
<footer class="bg-dark py-4">
    <div class="container text-light">
        <span class="float-end"><a href="#">Back to top</a></span>
        <address>
            <strong>TeguhCorp, Inc.</strong><br>
            Jakarta Raya<br>
            <abbr title="Phone">P:</abbr> (021) 123-4567
        </address>

        <address>
            <strong>Contact</strong><br>
            <a href="mailto:support@thinkcorp.com">support@teguhcorp.com</a>
        </address>

        © 2024 TeguhCorp, Inc.
    </div>
</footer>