<!doctype html>
<html lang="en">
<head>
    <%- include('layouts/head'); %>

    <!-- Home Specific Tags -->
    <meta name="description" content="Express, MongoDB, and Node.js template stylized with Bootstrap.">
    <link rel="canonical" href="https://starter-node-express-bootstrap.herokuapp.com/"/>

    <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
    <meta property="og:url" content="https://starter-node-express-bootstrap.herokuapp.com/">
    <meta property="og:title" content="Alectrify - Bootstrap Node.js/Express Template">
    <meta property="og:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap.">
    <meta property="og:type" content="website">
    <!-- Insert preview image tag: https://ogp.me/ -->

    <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@alectrify_co">
    <meta name="twitter:creator" content="@alectrify_co">
    <meta name="twitter:title" content="Alectrify - Bootstrap Node.js/Express Template">
    <meta name="twitter:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap.">
    <!-- Insert preview image tag -->

    <title>TeguhCorp</title>
</head>

<body>
<%- include('layouts/navbar'); %>

<main>
    <!-- Hero Section -->
    <section id="hero">
        <div class="container py-4 py-md-5">
            <div class="row align-items-center py-5">
                <div class="col-md-7">
                    <h1 class="display-3 fw-bold"><i class="fa fa-splotch"></i> TeguhCorp</h1>
                    <p class="lead my-3">
                        Creating inventive solutions for complex problems.
                    </p>
                    <p class="mb-0">
                        <button type="button" class="btn-pill btn-lg btn-primary me-3" data-bs-toggle="modal"
                                data-bs-target="#signupModal">Get Started
                        </button>
                        <a class="btn-pill btn-lg btn-info" href="#principles">Learn more</a>
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="/assets/idea.png" alt="Man with an idea" class="w-100">
                </div>
            </div>
        </div>
    </section>

    <!-- Principles Section -->
    <section id="principles" class="bg-primary text-dark">
        <div class="container py-4 py-md-5">
            <h1 class="font-slab">4 Langkah Mudah</h1>

            <div class="row">
                <div class="col-md-3">
                    <h2>Add BOT tele</h2>
                        <a class="btn btn-info" href="https://t.me/PembantuTeguhbot">PembantuTeguhbot</a>
                </div>

                <div class="col-md-3">
                    <h2>Create new Channel</h2>
                    <!-- <img src="assets/step2.png" width="100%" alt=""> -->
                    <img src="assets/step3.png" width="100%" alt="">
                </div>

                <div class="col-md-3">
                    <h2>Add BOT in your Channel</h2>
                    <!-- <img src="assets/step4.png" width="70%" alt=""> -->
                    <img src="assets/step6.png" width="100%" alt="">
                </div>
                
                <div class="col-md-3">
                    <h2>Now you can Enjoy</h2>
                    <img src="assets/step7.png" width="100%" alt="">
                    
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-info text-light">
        <div class="container py-4 py-md-5">
            <h1 class="font-slab">About</h1>

            <div class="row">
                <div class="col-md-8">
                    <h2>Our Company</h2>
                    <p>
                        TeguhCorp
                    </p>
                    <!-- <ul>
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                    </ul> -->

                    <h2>Our Mission</h2>
                    <p>
                        Mempermudah kaum
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/meeting.png" alt="Workers at a meeting" class="w-100">
                </div>
            </div>

        </div>
    </section>
</main>

<%- include('layouts/footer'); %>

<!-- Bundled JS: Bootstrap, jQuery, Lodash -->
<script src="/scripts/bundle.js"></script>

<!-- Custom JavaScript -->
</body>
</html>